* {
    box-sizing: border-box;
}

body {
    background: url(../imgs/low_contrast_linen.png);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.wrapper {
    flex: 1 0 auto;
}

/* ===== NAVBAR ===== */
#navbar {
    background: #F57C00;
    border-radius: 0 0 10px 10px;
}

nav .brand-logo {
    padding: 0 10px;
    font-family: 'Boogaloo', cursive;
    text-shadow: 0px 0px 10px #000;
}

#nav-mobile,
#mobile-demo {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

#nav-mobile a {
    text-shadow: 0px 0px 10px #000;
}

#mobile-demo {
    background: url(../imgs/low_contrast_linen.png);
    border-right: 5px solid #F57C00;
}

#mobile-demo a {
    color: #fff;
}

#mobile-demo a:hover {
    border-top: 1px solid #F57C00;
    border-bottom: 1px solid #F57C00;
    transition: 0.3s ease;
}

/* ===== HOME PAGE CONTENT ===== */
.main-content {
    background: #fff;
    border-radius: 10px;
}

.heading h3 {
    font-size: 35px;
    font-family: 'Boogaloo', cursive;
    text-align: center;
    color: #F57C00;
    padding-top: 10px;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.container img {
    width: 300px;
    margin: 6px 15px 10px 0;
    float: left;
}

.paragraph {
    font-family: 'Roboto', sans-serif;
    line-height: 2;
    margin-bottom: 20px;
    font-size: 18px;
    text-indent: 40px;
}

.paragraph p:nth-of-type(3) {
    padding-bottom: 30px;
}

/* ===== CONTACT PAGE ===== */
.contact-row {
    padding: 0 10px;
}

#submitButton {
    margin: 0 0 20px 50px;
    background: #F57C00;
}

/* ===== PORTFOLIO PAGE ===== */
.card-row {
    display: flex;
    justify-content: center;
}

.card {
    width: 280px;
    margin-right: 30px;
    -webkit-box-shadow: 0px 7px 15px 3px #000000; 
    box-shadow: 0px 7px 15px 3px #000000;
    border: 1px solid #000; 
}

.card:nth-of-type(2),
.card:nth-of-type(4),
.card:nth-last-of-type(6) {
    margin-right: 0;
}

.card-image img {
    height: 250px;
    border-bottom: 1px solid #000;
}

.card-content a {
    color: #F57C00;
}
.card-title-description {
    margin-bottom: 20px;
}

.card .card-reveal {
    background: #F57C00;
}

.card-reveal p {
    line-height: 1.5;
    letter-spacing: .01em;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.card-reveal .right {
    color: #fff;
}

/* ===== CHANGING COLORS ON INPUT FIELDS WHEN CLICKED ===== */
.input-field .prefix.active {
    color: #F57C00;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #F57C00;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #F57C00;
    box-shadow: 0 1px 0 0 #F57C00;
}

/* ===== FOOTER ===== */
#footer {
    background: #F57C00;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
}

#footer p {
    padding: 10px;
}

/* ===== MEDIA QUERIES =====  */
@media screen and (max-width: 760px) {
    .card-row {
       flex: none;
       display: grid;
       justify-content: center;
       align-items: center;
    }

    .card {
        margin-right: 0;
    }
}

@media screen and (max-width: 340px) {
    nav .brand-logo {
        font-size: 25px;
    }
}